deadline_reminder.json
{
  "name": "deadline reminder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "a137e46d-3ca3-4cf9-9e7b-30184d45960c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "options": {},
        "embeds": {
          "values": [
            {
              "description": "deadline approaching for client @x",
              "author": "deadline reminder"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        600,
        20
      ],
      "id": "4d216931-cdd2-42a8-95cc-3a04fdebad5e",
      "name": "Discord",
      "credentials": {
        "discordWebhookApi": {
          "id": "AgKzXBHrBVAjsQQ6",
          "name": "Discord Webhook account 5"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dd96fd82-9c53-47bc-b00d-efd4cf0efa1e",
              "leftValue": "={{ $json['Readable date'] }}",
              "rightValue": "=January 28th 2025, 6:30:52 am",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        320,
        20
      ],
      "id": "2bd7d961-64fa-443c-adf6-9b8aa90d2b87",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e65a027f-08be-4c7f-ae51-7e9187d603b0",
              "leftValue": "={{ $json['Readable date'] }}",
              "rightValue": "January 28th 2025, 8:34:32 am",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        340,
        260
      ],
      "id": "af257b12-02c3-4baa-8cff-874cf088e4f7",
      "name": "If1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a2b1812c-20b9-4a2a-9b93-4cbbe289c6e3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9fd2ed4c8189f959c8798cbb7ffd694c440b60ebef016725126b1ca703b00cc0"
  },
  "id": "IHwqOrLzvjqZ60CW",
  "tags": []
}